openapi: 3.0.3
info:
  title: "Plataforma de Coleta de Métricas"
  description: |
    # Introdução

    A Plataforma de Coleta de Métricas foi idealizada para contabilizar as interações entre as instituições participantes, de modo a promover um ambiente equitativo e não discriminatório. Se trata de uma Plataforma localizada no perímetro central, gerida pelo regulador do ecossistema.

    ## Motivação

    Para que o ecossistema do Open Finance Brasil seja saudável para instituições e clientes finais, fez-se necessária a criação de uma Plataforma que deverá concentrar dados sobre as chamadas que as instituições fazem umas às outras. Dessa forma, permite-se coletar informações visando criar métricas e indicadores a fim de se ter visibilidade sobre todo o ambiente.

    No intuito de manter a integridade e consistência nos dados, o envio destes pelas instituições deverá passar por um processo de conciliação. Quando divergente, as instituições serão notificadas e terão a possibilidade de ajustar os reportes, o que promove um ambiente saudável de autorregulação, prevenindo assim uma disputa.

    ## O que a Plataforma não é

    A Plataforma recebe os dados de maneira póstuma, ou seja, dentro do período de fechamento, mas após a chamada concreta ter sido feita. Dada essa natureza, a Plataforma não pode atuar como um agente que proíbe, bloqueia ou interfere nas interações entre as instituições.

    Por mais que concentre informações importantes das chamadas entre as instituições, a Plataforma não é uma ferramenta de BI, e o controle de acesso aos dados é feito em diferentes níveis (participante, regulador e administrador).

    ## Premissas Técnicas

    * Tanto o envio por parte dos participantes quanto o processamento por parte da Plataforma serão feitos de maneira assíncrona;

    ## Terminologia

    * **Server e Client**: em uma interação, a parte que solicita os dados é chamada de _client_, ao passo que a parte que devolve os dados é o _server_. O ponto de vista para o uso dessa terminologia é o tráfego dos dados da transação e não o ponto de partida da chamada. Portanto, supondo que A faça uma consulta em B pelos dados de uma conta, esses dados vão ser transmitidos por quem recebeu a solicitação, e recebidos por quem a fez, nesse caso, "A" é o Client e "B" é o Server.

    * **Reporte**: no contexto da API de Coleta de Métricas, um _reporte_ é o registro da chamada que será enviado tanto pelo server quanto pelo client. Esse registro será armazenado na Plataforma para posterior processo de conciliação de chamadas e extração de dados estatísticos.

    * **Divergência**: Quando Server e Client enviam reportes, cada um destes reportes se refere a uma chamada em específico. Nos casos em que uma das partes não envia o reporte sobre essa chamada em específico, é caracterizada uma divergência. As divergências podem ser resolvidas pela chamada às operações de modificação de reportes em suas respectivas APIs. Uma divergência é considerada fechada apenas quando todos os reportes encontram sua respectiva correspondência do outro lado da chamada.


    Para informações detalhadas sobre a PCM, consulte o [site da documentação da Plataforma](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/17378055/Plataforma+de+Coleta+de+M+tricas).

  version: 2.0.0-beta

security:
  - PCMAccessToken: []

servers:
  - url: https://api.pcm.sandbox.openfinancebrasil.org.br
    description: UAT
  - url: https://api.pcm.openfinancebrasil.org.br
    description: Produção

tags:
  - name: Private API
    description: |
      A Private API fornece operações que permitem a inclusão dos reportes que representam transações entre participantes do ecossistema do Open Finance.
  - name: Opendata API
    description: |
      A Opendata API fornece operações que permitem a inclusão dos reportes cujas chamadas foram feitas nas API de dados abertos do Open Finance o qual não sofrem processo de conciliação.
  - name: Hybrid Flow API
    description: |
      Oferece operações que permitem a inclusão de reportes relativos à jornada de autorização de consentimento. Os reportes podem ser feitos até às 08h00 de D+1 da data da ocorrência e não precisam ser enviados em ordem.

      [Ver diagrama de sequência](https://github.com/OpenBanking-Brasil/specs-pcm/blob/feature/PCM-122/openapi/hybrid-flow-diagram.svg?raw=true)
      
      [Ver fluxograma de envio de reports](https://raw.githubusercontent.com/OpenBanking-Brasil/specs-pcm/feature/PCM-122/openapi/Diagrama%20API%20PCM%20Hybrid%20Flow_v3.drawio.svg)
  - name: "Consents API"
    description: |
      API dedicada para obtenção de estoque de consentimento, à partir do auto reporte das instituições, com endpoint único para os papeis Client/Server.

paths:
  "/report-api/v1/private/report":
    post:
      tags:
        - Private API
      summary: Inclusão de reportes
      description: |
        Inclusão de reportes na plataforma. Ao enviar um lote de reportes, a plataforma vai fazer o processo de validação de cada reporte de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso **todos** dos reportes enviados forem aceitos. Caso pelo menos 1 reporte esteja inconsistente, o status de retorno será 207 - veja documentação de cada status de retorno para mais informações. 

        Os dados inseridos na API de Reporte são sempre processados de maneira assíncrona, e sua persistência se utiliza de consistência posterior (eventual consistency), portanto, um registro tem um tempo de processamento em que ele não estará disponível para consulta até que ele seja persistido.

        O limite de reportes de cada envio de lote é de 5.000 entradas no array.
      operationId: add-reports
      requestBody:
        content:
          application/json:
            schema:
              type: array
              maxItems: 5000
              items:
                oneOf:
                  - $ref: "#/components/schemas/ClientReportRequest"
                  - $ref: "#/components/schemas/ServerReportRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  - timestamp: "2021-11-11T18:08:08.894Z"
                    fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                    clientSSId: "f0b5419b-2b5f-4f59-9862-6d2a8e23be26"
                    clientOrgId: "082ff90b-9d65-46bb-b123-b88eb47fd61c"
                    serverOrgId: "b8e34d5a-2ed5-451e-8ddb-45a1edc76243"
                    endpoint: "/open-banking/products-services/v1/business-financings"
                    statusCode: 200
                    httpMethod: GET
                    correlationId: "wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf"
                    processTimespan: 120
                    endpointUriPrefix: "https://ofin.bank.com/"
                    role: CLIENT
                    additionalInfo:
                      personType: "PF"
                      consentId: "uri:bank:d1541b17-3175-477d-a52b-2813ae2c4c36"
                  - timestamp: "2021-11-11T19:22:10.334Z"
                    fapiInteractionId: "0786fce3-a36f-43f8-b66a-d26ab1dfc639"
                    clientSSId: "f0b5419b-2b5f-4f59-9862-6d2a8e23be26"
                    clientOrgId: "082ff90b-9d65-46bb-b123-b88eb47fd61c"
                    serverOrgId: "b8e34d5a-2ed5-451e-8ddb-45a1edc76243"
                    endpoint: "/open-banking/products-services/v1/business-financings"
                    statusCode: 200
                    httpMethod: GET
                    correlationId: "8qPzRL4nBzesCc3H1827UlqqEuTT4F5lN82DuJllcnL5VnnY5j"
                    processTimespan: 117
                    endpointUriPrefix: "https://ofin.bank.com/"
                    role: CLIENT
                    additionalInfo:
                      personType: "PF"
                      consentId: "uri:bank:d1541b17-3175-477d-a52b-2813ae2c4c36"
                  - timestamp: "2021-11-11T19:41:41.811Z"
                    fapiInteractionId: "d1541b17-3175-477d-a52b-2813ae2c4c36"
                    clientOrgId: "082ff90b-9d65-46bb-b123-b88eb47fd61c"
                    serverOrgId: "b8e34d5a-2ed5-451e-8ddb-45a1edc76243"
                    endpoint: "/open-banking/products-services/v1/business-financings"
                    statusCode: 200
                    httpMethod: GET
                    processTimespan: 125
                    role: SERVER
        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf
                      status: ACCEPTED
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      correlationId: 8qPzRL4nBzesCc3H1827UlqqEuTT4F5lN82DuJllcnL5VnnY5j
                      status: ACCEPTED
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da requisição está correto, mas que entradas do array contém erro de validação em pelo menos 1 item. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      correlationId: 8qPzRL4nBzesCc3H1827UlqqEuTT4F5lN82DuJllcnL5VnnY5j
                      status: ACCEPTED
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: ACCEPTED
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados sem _correlationId_ e sem _uri_. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                "Campo obrigatório não enviado":
                  description: |
                    Registro com campo obrigatório não enviado.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a,
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf,
                      status: DISCARDED,
                      message: "Missing fields: 'statusCode'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação (5.000 elementos no array), ou o tamanho do payload excede 10Mb.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/client/redirect-to-server":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de redirecionamento para o servidor (papel client)
      description: |
        Inclusão do report de início de redirecionamento de um usuário do receptor/iniciador para a transmissora/detentora. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o report enviado seja aceito. Caso seja obtido um status HTTP diferente, a integração deve ser corrigida. Observe no response body o detalhamento do erro e corrija a implementação.
      operationId: add-reports-client-redirect-to-server
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowClientRedirectToServerReportRequest"
            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.

        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde  o registro enviado foi validado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"
              examples:
                Item processado:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação.
        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/server/redirect-target":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de redirecionamento para o destino (papel server)
      description: |
        Inclusão de report de chegada de usuário em sistema da transmissora/dentendora para autenticação. Deve ser enviado antes da autenticação do usuário. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o reporte enviado seja aceito.

      operationId: add-reports-server-redirect-target
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowServerRedirectTargetReportRequest"
            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.
        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde o registro enviado foi validado e será validado. Se o registro contiver problemas de validação.
            A operação vai devolver um objeto com resultado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"

        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/server/authenticated":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de autenticação (papel server)
      description: |
        Inclusão de report de autenticação na plataforma que deverá ser enviado após o client se autenticar / entrar no app e antes de autorizar o consentimento. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o reporte enviado seja aceito.
      operationId: add-reports-server-authenticated
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowServerAuthenticatedRequest"
            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.

        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde  o registro enviado foi validado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"
              examples:
                Item processado:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação.
        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/server/redirect-to-client":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de redirecionamento para o cliente (papel server)
      description: |
        Inclusão de report de redirecionamento do usuário de volta para receptora/iniciadora. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o reporte enviado seja aceito.
      operationId: add-reports-server-redirect-to-client
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowServerRedirectToClientRequest"

            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.

        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde  o registro enviado foi validado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"
              examples:
                Item processado:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação.
        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/client/redirect-target-with-errors":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de redirecionamento com erro para o destino (papel client)
      description: |
        Inclusão do report de retorno do usuário pelo Hybrid Flow contendo o código de erro. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o reporte enviado seja aceito.
      operationId: add-reports-client-redirect-target-with-errors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowServerRedirectTargetWithErrorsRequest"

            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.

        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde  o registro enviado foi validado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"
              examples:
                Item processado:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação.
        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v2/hybrid-flow/client/redirect-target-without-errors":
    post:
      tags:
        - Hybrid Flow API
      summary: Inclusão de report Hybrid Flow de redirecionamento sem erro para o destino (papel client)
      description: |
        Inclusão de report de retorno de usuário pelo Hybrid Flow com sucesso. Ao enviar um report, a Plataforma vai fazer o processo de validação de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso o reporte enviado seja aceito.
      operationId: add-reports-client-redirect-target-without-errors
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HybridFlowServerRedirectTargetWithoutErrorsRequest"

            examples:
              "Request Válido":
                description: O request apresentado tem todos os campos validados.

        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde  o registro enviado foi validado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HybridFlowReportResponse"
              examples:
                Item processado:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação.
        "400":
          description: O formato do corpo da requisição não é um objeto válido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Report Invalid"

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/private/report/{reportId}":
    get:
      tags:
        - Private API
      summary: Consulta um report em específico usando um identificador
      description: |
        Operação que permite a consulta de um reporte em específico mediante um identificador. A busca por reportes estará sempre no contexto do usuário representado pelo token de acesso, ou seja, o _participante_ só terá acesso a reportes em que instituição que ele pertence é parte, seja como client ou como server.

        O processamento do registro ocorre de maneira assíncrona, o que pode gerar um cenário de consistência eventual: caso a consulta seja feita imediatamente após a inclusão, é possível que o registro ainda não esteja disponível para consulta.
      operationId: report-by-id
      parameters:
        - name: reportId
          description: Identificador do reporte que está sendo consultado
          in: path
          required: true
          schema:
            type: string
            pattern: ^[- /:_.',0-9a-zA-Z]{0,100}$
            maxLength: 100
      responses:
        "200":
          description: Consulta realizada com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportModel"
        "404":
          description: O registro com o identificador informado não foi encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

    put:
      tags:
        - Private API
      summary: Modifica um reporte baseado em seu reportId
      description: |
        Operação que permite a alteração de parâmetros de um reporte com base em seu reportId. A alteração do report é feita de forma assíncrona. Logo, se for feito um GET logo após o PUT o reporte ainda será entregue sem alterações. Não ressubmeta o PUT. Importante: Apenas os campos statusCode, httpMethod, processTimespan e endpoint podem ser modificados nessa operação. Apenas reportes no estado PAIRED_INCONSISTENT podem ser modificados. Necessidades adicionais de modificação por API podem ser sugeridas ao email: gt-arquitetura@openfinancebrasil.org.br
      operationId: put-report-by-id
      parameters:
        - name: reportId
          description: Identificador do reporte (campo `reportId`) que está sendo modificado
          in: path
          required: true
          schema:
            type: string
            pattern: ^[- /:_.',0-9a-zA-Z]{0,100}$
            maxLength: 100
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ClientReportRequest"
                - $ref: "#/components/schemas/ServerReportRequest"

      responses:
        "202":
          description: Modificação submetida com sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmptyObject"
              example: {}

        "400":
          description: O reporte enviado está inconsistente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              example:
                message: "Invalid field value: httpMethod"
        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "404":
          $ref: "#/components/responses/Default404NotFound"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/opendata/report":
    post:
      tags:
        - Opendata API
      summary: Inclusão de reportes
      description: |

        Inclusão de reportes de dados abertos na plataforma. Ao enviar um lote de reportes, a plataforma vai fazer o processo de validação sintática de cada reporte de maneira síncrona e devolver o resultado dessa validação na resposta. O status HTTP de retorno será 200 caso **todos** dos reportes enviados forem aceitos. Caso pelo menos 1 reporte esteja inconsistente, o status de retorno será 207 - veja documentação de cada status de retorno para mais informações. 

        Os dados inseridos na API de Reporte são sempre processados de maneira assíncrona, e sua persistência se utiliza de consistência posterior (eventual consistency), portanto, um registro tem um tempo de processamento em que ele não estará disponível para consulta até que ele seja persistido.

        O limite de registros de cada lote é de 5.000 registros.
      operationId: add-opendata-reports
      requestBody:
        content:
          application/json:
            schema:
              type: array
              maxItems: 5000
              items:
                $ref: "#/components/schemas/OpendataReportRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  - timestamp: "2021-11-11T18:08:08.468Z"
                    endpoint: "/open-banking/products-services/v1/business-financings"
                    statusCode: 200
                    httpMethod: GET
                    processTimespan: 120
                    additionalInfo:
                      clientIp: 192.168.10.10
                  - timestamp: "2021-11-11T19:22:10.396Z"
                    endpoint: "/open-banking/products-services/v1/business-financings"
                    statusCode: 200
                    httpMethod: GET
                    processTimespan: 117
                    additionalInfo:
                      clientIp: 192.168.10.11
        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Todos registros que chegarem com o atributo _correlationId_ o receberão de volta. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: ACCEPTED
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da solicitação está correto, mas que entradas do array da solicitação contém erro de validação em pelo menos uma entrada. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'uri'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: ACCEPTED
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: ACCEPTED
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados com algum campo faltante. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'uri'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: DISCARDED
                      message: "Missing fields: 'additionalInfo'"
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: DISCARDED
                      message: "Missing fields: 'httpMethod'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação, ou o tamanho do payload excede o limite configurado no servidor http.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/consents/stock":
    post:
      tags:
        - Consents API
      summary: Gerencia informações referentes ao estoque de consentimentos ativos
      description: |
        API dedicada à obtenção de estoque de consentimentos, a partir do autorreporte das instituições, com endpoint único para os papeis Client/Server. Registra a quantidade total de estoque de consentimentos ativos até a data de referência, assegurando que a quantidade de consentimentos únicos para PF/PJ não exceda a quantidade de consentimentos ativos. Deve-se garantir o envio diários dos dados relativos a uma data de referência até 08h00 do dia seguinte. 
      operationId: add-consents-reports
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsentStockRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  date: "2021-11-11"
                  orgId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                  role: CLIENT
                  scope: "DADOS"
                  totalCustomerPF: 10
                  totalCustomerPJ: 10
                  consentsStockList: 
                    - clientOrgId: "082ff90b-9d65-46bb-b123-b88eb47fd61c"
                      serverOrgId: "b8e34d5a-2ed5-451e-8ddb-45a1edc76243"
                      totalActiveConsents: 222
                    - clientOrgId: "082ff90b-9d65-46bb-b123-b88eb47fd61c"
                      serverOrgId: "b8e34d5a-2ed5-451e-8ddb-45a1edc76243"
                      totalActiveConsents: 223
        required: true
      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da requisição está correto, mas que entradas do array contém erro de validação em pelo menos 1 item. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    status: DISCARDED
                    message: "Invalid field value, httpMethod: httpMethod must be in enum"
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados sem _correlationId_ e sem _uri_. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                "Campo obrigatório não enviado":
                  description: |
                    Registro com campo obrigatório não enviado.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a,
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf,
                      status: DISCARDED,
                      message: "Missing fields: 'statusCode'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação (5.000 elementos no array), ou o tamanho do payload excede 10Mb.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/credit-portabilities/client":
    post:
      tags:
        - Credit Portability API
      summary: "Inclusão de reports de portabilidade"
      description: |
        Valida se já existe um pedido de portabilidade de crédito para o contrato solicitado pelo trilho do OFB ou da Registradora.
      operationId: add-portability-client-reports
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditPortabilityClientRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  timestamp: "2021-11-11T18:08:08.894Z" 
                  fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                  clientSSId: "84570da9-567b-4201-9b77-c715bc5bffde"
                  clientOrgId: "56411f7e-d58b-44a8-8a2b-ff326d3f2955"
                  serverOrgId: "c1ca8e62-9d6f-4ea3-84f2-d66bc0a8f7dc"
                  endpoint: "/open-banking/consents/v2/consents"
                  statusCode: 200
                  httpMethod: POST
                  correlationId: "uGQHwNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf2"
                  processTimespan: 120
                  endpointUriPrefix: "https://openbanking.instituicao-1.com.br/opbk"
                  role: "CLIENT"
                  portabilityId: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                  contractId: "92792126019929279212650822221989319252576"
                  creationDateTime: "2020-07-21T08:30:00Z"
                  productSubTypeCategory: "CREDITO_PESSOAL_CLEAN"
                  originalContractCET: "0.290000"
                  originalPropositionCET: "0.290000"
                  originalContractTerm: 57
                  propositionTerm: 30
                  creditPortabilityStatus: "PENDING"
                  statusUpdateDateTime: "2020-07-21T08:30:00Z"
                  rejectionReason: "CANCELADO_PELO_CLIENTE"
                  rejectedBy: "PROPONENTE"

      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da requisição está correto, mas que entradas do array contém erro de validação em pelo menos 1 item. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    status: DISCARDED
                    message: "Invalid field value, httpMethod: httpMethod must be in enum"
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados sem _correlationId_ e sem _uri_. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                "Campo obrigatório não enviado":
                  description: |
                    Registro com campo obrigatório não enviado.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a,
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf,
                      status: DISCARDED,
                      message: "Missing fields: 'statusCode'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação (5.000 elementos no array), ou o tamanho do payload excede 10Mb.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

  "/report-api/v1/credit-portabilities/server":
    post:
      tags:
        - Credit Portability API
      summary: "Inclusão de reports de portabilidade"
      description: |
        Valida se já existe um pedido de portabilidade de crédito para o contrato solicitado pelo trilho do OFB ou da Registradora.
      operationId: add-portability-server-reports
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreditPortabiltyServerRequest"

            examples:
              "Request Valido":
                description: O request apresentado tem todos os campos validados.
                value:
                  reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                  fapiInteractionId: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
                  endpoint: "/open-banking/consents/v2/consents"
                  httpMethod: POST
                  statusCode: 200
                  timestamp: "2021-11-11T18:08:08.894Z" 
                  processTimespan: 120
                  clientOrgId: "56411f7e-d58b-44a8-8a2b-ff326d3f2955"
                  serverOrgId: "c1ca8e62-9d6f-4ea3-84f2-d66bc0a8f7dc"                  
                  role: "SERVER"
                  status: "PENDING"
                  statusUpdateDateTime: "2020-07-21T08:30:00Z"
                  rejectionReason: "CANCELADO_PELO_CLIENTE"
                  rejectedBy: "PROPONENTE"                 

      responses:
        "200":
          description: |
            O status 200 representa a situação onde todos os registros enviados no lote foram validados e serão direcionados para processamento. Se pelo menos 1 registro contiver problemas de validação, o retorno será 207 (veja descrição do status).

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                Todos Processados:
                  description: Esta seria a resposta para uma solicitação com o exemplo "Request Válido" da documentação. O payload da resposta vem na mesma ordem do array da solicitação. Uma vez que todos os registros foram validados, o status de retorno é o 200.
                  value:
                    reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    status: ACCEPTED

        "207":
          description: |
            O status 207 (Multi-Status) informa ao solicitante que o formato da requisição está correto, mas que entradas do array contém erro de validação em pelo menos 1 item. Ou seja, se todos os elementos do array informado estiverem com falha de validação, a operação vai devolver o status 207, e no corpo da resposta todos os elementos do array vão estar com status `DISCARDED` e com sua respectiva mensagem. 

            A operação vai devolver um array com todos os resultados, e garante que ele esteja na mesma ordem do array da requisição.
          content:
            application/json:
              schema:
                type: array
                maxItems: 5000
                items:
                  $ref: "#/components/schemas/ReportResponse"
              examples:
                "Primeiro registro com falha":
                  description: |
                    No caso apresentado é o resultado onde o exemplo "Request com falha" foi enviado: o registro com o _fapiInteractionId_ `d78fc4e5-37ca-4da3-adf2-9b082bf92280` apresentou uma falha na validação, mas os demais foram enviados para processamento. Como um dos registros não foi validado, o status de retorno passa a ser 207, e os demais registros são processados normalmente.
                  value:
                    reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    correlationId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                    status: DISCARDED
                    message: "Invalid field value, httpMethod: httpMethod must be in enum"
                "Todos registros com falha":
                  description: |
                    Neste caso, parte-se da premissa que todos os registros foram enviados sem _correlationId_ e sem _uri_. Nesse caso, todos vão falhar na etapa de validação, mas mesmo quando todos os registros falham, o status de retorno é o 207.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 4095388d-f44f-499a-a9a7-2dbffce1bb8a
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                    - reportId: 0f3fcceb-39f6-41b4-a75d-8444244bd836
                      status: DISCARDED
                      message: "Missing fields: 'fapiInteractionId'"
                "Campo obrigatório não enviado":
                  description: |
                    Registro com campo obrigatório não enviado.
                  value:
                    - reportId: 424ad55c-36cc-4077-b85e-c22ea984cc4a,
                      correlationId: wNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf,
                      status: DISCARDED,
                      message: "Missing fields: 'statusCode'"

        "400":
          description: O formato do corpo da requisição não é um array.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "400":
                  value:
                    message: "Invalid payload format: MUST be an array"

        "413":
          description: A quantidade de registros enviado excede o limite da operação (5.000 elementos no array), ou o tamanho do payload excede 10Mb.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericError"
              examples:
                "Limite de registros excedido":
                  value:
                    message: Record limit exceeded

        "401":
          $ref: "#/components/responses/Default401Unauthorized"
        "403":
          $ref: "#/components/responses/Default403Forbidden"
        "406":
          $ref: "#/components/responses/Default406NotAcceptable"
        "415":
          $ref: "#/components/responses/Default415UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/Default429TooManyRequests"
        default:
          $ref: "#/components/responses/Default500InternalServerError"

components:
  schemas:
    Platform:
      type: string
      enum:
        - BROWSER
        - APP
      example: BROWSER

    URI:
      type: string
      format: uri
      pattern:  ^[- /:_.',0-9a-zA-Z]{0,200}$
      maxLength: 2000
      example: https://api.banco.com.br/open-banking/api/v1/resource

    Timestamp:
      description: Data/Hora UTC no formato ISO8601 com milissegundos (YYYY-MM-DDTHH:mm:ss.sssZ) do momento em que a chamada foi disparada, imediatamente antes do primeiro byte enviado na requisição.
      type: string
      format: date-time
      maxLength: 28
      example: "2021-11-11T18:08:08.278Z"

    ConsentId:
      type: string
      pattern: ^urn:[a-zA-Z0-9][a-zA-Z0-9\-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$
      maxLength: 256
      example: urn:bancoex:C1DD33123
      description: |

        O consentId deve ser preenchido com a mesma string do identificador único de um fluxo de consentimento de dados, de pagamento ou de vínculo

        exemplos:    
        
          * pós `POST` /open-banking/payments/v4/consents utilizar a string obtida/enviada em data.consentId
        
          * pós `POST` /open-banking/consents/v3/consents utilizar a string obtida/enviada em data.consentId
        
          * pós `POST` /automatic-payments/v1/recurring-consents utilizar a string obtida/enviada em data.recurringConsentId
        
          * pós `POST` /automatic-payments/v1/pix/recurring-payments utilizar a string obtida/enviada em data.recurringConsentId
        
          * pós `POST` /open-banking/enrollments/v1/enrollments utilizar a string obtida/enviada em data.enrollmentId

    OSType:
      type: string
      example: LINUX
      enum:
        - LINUX
        - MACOS
        - UNIX
        - WINDOWS
        - IOS
        - ANDROID
        - OTHER

    HybridFlowClientRedirectToServerReportRequest:
      description: ""
      type: array
      minItems: 0
      maxItems: 1000
      items:
        type: object
        required:
          - "consentId"
          - "platform"
          - "osVersion"
          - "os"
          - "timestamp"
          - clientOrgId
        properties:
          consentId:
            $ref: "#/components/schemas/ConsentId"
          uriAuthorizationEndpoint:
            type: string
            format: uri
            pattern: ^[- /:_.',0-9a-zA-Z]{0,200}$
            maxLength: 2000
            example: https://api.banco.com.br/open-banking/api/v1/resource
          platform:
            type: string
            enum:
              - BROWSER
              - APP
            example: BROWSER
          osVersion:
            type: string
            example: "20.04"
          os:
            type: string
            example: LINUX
            enum:
              - LINUX
              - MACOS
              - UNIX
              - WINDOWS
              - IOS
              - ANDROID
              - OTHER
          timestamp:
            description: Data/Hora UTC no formato ISO8601 com milissegundos (YYYY-MM-DDTHH:mm:ss.sssZ) do momento em que a chamada foi disparada, imediatamente antes do primeiro byte enviado na requisição.
            type: string
            format: date-time
            maxLength: 28
            example: "2021-11-11T18:08:08.278Z"
          clientOrgId:
            description: A ser enviado vazio caso o report seja da mesma instituição que obteve o token para uso da PCM e, caso contrário, deve ser preenchido com o organasationId da instituição filha para o qual a instituição mãe está fazendo o report.
            type: string
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            example: "56411f7e-d58b-44a8-8a2b-ff326d3f2955"

    HybridFlowServerRedirectTargetReportRequest:
      description: ""
      type: array
      minItems: 0
      maxItems: 1000
      items:
        type: object
        required:
          - "consentId"
          - "osVersion"
          - "os"
          - "type"
          - "timestamp"
          - serverOrgId
        properties:
          consentId:
            $ref: "#/components/schemas/ConsentId"
          uriAuthorizationEndpoint:
            $ref: "#/components/schemas/URI"
          osVersion:
            type: string
            example: "20.04"
          os:
            $ref: "#/components/schemas/OSType"
          type:
            type: string
            enum:
              - AWAITING_HANDOFF
              - AWAITING_USER_AUTH
              - AWAITING_REDIRECT_TO_APP
          timestamp:
            $ref: "#/components/schemas/Timestamp"
          serverOrgId:
            description: A ser enviado vazio caso o report seja da mesma instituição que obteve o token para uso da PCM e, caso contrário, deve ser preenchido com o organasationId da instituição filha para o qual a instituição mãe está fazendo o report.
            type: string
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            example: "c1ca8e62-9d6f-4ea3-84f2-d66bc0a8f7dc"

    HybridFlowServerAuthenticatedRequest:
      description: ""
      type: array
      minItems: 0
      maxItems: 1000
      items:
        type: object
        required:
          - "consentId"
          - "platform"
          - "osVersion"
          - "os"
          - timestamp
          - serverOrgId
        properties:
          consentId:
            $ref: "#/components/schemas/ConsentId"
          platform:
            $ref: "#/components/schemas/Platform"
          osVersion:
            type: string
            example: "20.04"
          os:
            $ref: "#/components/schemas/OSType"
          timestamp:
            $ref: "#/components/schemas/Timestamp"
          serverOrgId:
            description: A ser enviado vazio caso o report seja da mesma instituição que obteve o token para uso da PCM e, caso contrário, deve ser preenchido com o organasationId da instituição filha para o qual a instituição mãe está fazendo o report.
            type: string
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            example: "c1ca8e62-9d6f-4ea3-84f2-d66bc0a8f7dc"

    HybridFlowServerRedirectToClientRequest:
      description: ""
      type: array
      minItems: 0
      maxItems: 1000
      items:
        type: object
        required:
          - "consentId"
          - "uri_callback"
          - "platform"
          - "osVersion"
          - "os"
          - "type"
          - "timestamp"
          - serverOrgId
        properties:
          consentId:
            $ref: "#/components/schemas/ConsentId"
          uri_callback:
            $ref: "#/components/schemas/URI"
          platform:
            $ref: "#/components/schemas/Platform"
          osVersion:
            type: string
            example: "20.04"
          os:
            $ref: "#/components/schemas/OSType"
          type:
            type: string
            enum:
              - AUTHORISED
              - REJECTED
          timestamp:
            $ref: "#/components/schemas/Timestamp"
          serverOrgId:
            description: A ser enviado vazio caso o report seja da mesma instituição que obteve o token para uso da PCM e, caso contrário, deve ser preenchido com o organasationId da instituição filha para o qual a instituição mãe está fazendo o report.
            type: string
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            example: "c1ca8e62-9d6f-4ea3-84f2-d66bc0a8f7dc"

    HybridFlowServerRedirectTargetWithoutErrorsRequest:
      description: ""
      type: array
      minItems: 0
      maxItems: 1000
      items:
        type: object
        required:
          - "consentId"
          - "platform"
          - "osVersion"
          - "os"
          - timestamp
          - clientOrgId
        properties:
          consentId:
            $ref: "#/components/schemas/ConsentId"
          platform:
            $ref: "#/components/schemas/Platform"
          osVersion:
            type: string
            example: "20.04"
          os:
            $ref: "#/components/schemas/OSType"
          timestamp:
            $ref: "#/components/schemas/Timestamp"
          clientOrgId:
            description: A ser enviado vazio caso o report seja da mesma instituição que obteve o token para uso da PCM e, caso contrário, deve ser preenchido com o organasationId da instituição filha para o qual a instituição mãe está fazendo o report.
            type: string
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            example: "56411f7e-d58b-44a8-8a2b-ff326d3f2955"

    HybridFlowServerRedirectTargetWithErrorsRequest:
      description: ""
      type: array
      minItems: 0
      maxItems: 1000
      items:
        type: object
        required:
          - "consentId"
          - "platform"
          - "osVersion"
          - "os"
          - "error"
          - "timestamp"
          - clientOrgId
        properties:
          consentId:
            $ref: "#/components/schemas/ConsentId"
          platform:
            $ref: "#/components/schemas/Platform"
          osVersion:
            type: string
            example: "20.04"
          os:
            $ref: "#/components/schemas/OSType"
          error:
            type: string
            example: "Código de erro retornado no payload do Hybrid Flow"
          timestamp:
            $ref: "#/components/schemas/Timestamp"
          clientOrgId:
            description: A ser enviado vazio caso o report seja da mesma instituição que obteve o token para uso da PCM e, caso contrário, deve ser preenchido com o organasationId da instituição filha para o qual a instituição mãe está fazendo o report.
            type: string
            format: uuid
            maxLength: 36
            pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            example: "56411f7e-d58b-44a8-8a2b-ff326d3f2955"

    ClientReportRequest:
      description: Representa os dados que deverão ser enviados para a inclusão de reportes pelo lado do Client (iniciador da chamada). Informações adicionais sobre cada campo podem ser encontradas na documentação funcional em [https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/37879861/Reporte#Modelos-para-reportes-Private](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/37879861/Reporte#Modelos-para-reportes-Private)
      type: object
      required:
        - endpoint
        - statusCode
        - httpMethod
        - additionalInfo
        - timestamp
        - processTimespan
        - clientSSId
        - clientOrgId
        - serverOrgId
        - endpointUriPrefix
        - role
      properties:
        fapiInteractionId:
          description: UUID que identifica uma transação específica entre dois participantes. Esse dado pode ser encontrado no header x-fapi-interaction-id informado pelo Client e devolvido pelo Server. Mais informações em [Cabeçalhos HTTP](https://openbanking-brasil.github.io/areadesenvolvedor/#cabecalhos-http) na documentação do Open Finance Brasil. O envio dessa informação é obrigatório, exceto nos casos ontem ela não esteja disponível como, por exemplo, em respostas com status 5xx, ou em chamadas que terminaram por timeout onde o reporte tem que ser enviado, mas sem esse atributo. Nos demais cenários, o envio é obrigatório.
          type: string
          format: uuid
          maxLength: 36
          pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
          example: "d78fc4e5-37ca-4da3-adf2-9b082bf92280"
        endpoint:
          $ref: "#/components/schemas/PrivateReportEndpoints"
        statusCode:
          description: Status de retorno HTTP da solicitação. No caso de ocorrer um timeout client side preencher com um código 403 (conforme documentação ).
          type: integer
          format: int32
          example: 200
          minimum: 200
          maximum: 599
        httpMethod:
          description: Método HTTP da solicitação.
          type: string
          enum: ["GET", "POST", "PUT", "DELETE", "PATCH"]
          example: GET
        correlationId:
          description: ID de correlação que identifica uma sequência de chamadas inter-relacionadas no ecossistema. Diferente do fapiInteractionId que serve para identificar cada par request-response (interação), o identificador de correlação serve para ligar diferentes reportes quando estes representam uma jornada ou uma sequência de chamadas. Este valor é de livre provimento pelo reportador.
          type: string
          pattern: ^[- /:_.',0-9a-zA-Z]{0,100}$
          maxLength: 100
          example: "uGQHwNupARo7I9E2PLJZph18a0M9y7DcUe7ITt3DqUOJd9NVjnskxf2"
        additionalInfo:
          description: Informações adicionais sobre o reporte deste endpoint/método. Possui característica variável. As regras de preenchimento estão na documentação funcional em [openfinancebrasil](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/806158355/Planilha+AdditionalInfo). Atenção especial na tabela Excel com a listagem de endpoints em [https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/806158355/Planilha+AdditionalInfo](https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/806158355/Planilha+AdditionalInfo)
          type: object
          properties:
            consentId:
              description: Deve ser preenchido com a mesma string obtida no campo `.data.consentId` retornado após a chamada inicial na API "POST /consent". *Ao reportar o uso de um endpoint /token, o identificador único de consentimento só será reportado nos casos em que "grant_type" é do tipo "authorization_code" ou do tipo "refresh_token", uma vez que esta informação de consentId é inexistente quando "grant_type" é do tipo
              type: string
            personType:
              description: Deve ser preenchida baseado no tipo de pessoa responsável pelo consentimento. Deverá ser obserdado se `.data.businessEntity` estiver preenchido no payload, se estiver então preencher com "PJ", se não estiver então preencher com "PF"
              type: string
              enum:
                - PF
                - PJ
            localInstrument:
              description: Deve ser preenchido com a mesma string informada no payload ".data.localInstrument"
              type: string
            status:
              description: Deve ser preenchido com a mesma string obtida no ".data.status"
              type: string
            clientIp:
              description: Deve ser preenchido com o Endereço IPv4 ou IPv6 do client que fez a requisição
              type: string
            rejectReason:
              description: Deve ser preenchido com a mesma string obtida no ".data.rejectionReason.code"
              type: string
            errorCodes:
              description: Caso o HTTP Code seja 4XX ou 5XX, esse campo deve ser preenchido com a lista das strings obtidas em ".errors[].code" . Não havendo string, deve ser enviada uma lista vazia.
              type: string
            webhookEnable:
              description: Deve ser preenchido com o valor booleano TRUE caso haja pelo menos um item indicado na lista do campo ".webhook_uris" no payload, caso contrário deverá ser preenchido com o valor booleano FALSE
              type: string
            webhookInteractionId:
              description: Caso o GET esteja sendo feito após o estímulo do webhook, o x-webhook-interaction-id deverá ser indicado
              type: string
            enrollmentId:
              description: Deve ser preenchido com a mesma string obtida no campo `.data.enrollmentId` retornado após a chamada inicial na API "POST /enrollments". *Ao reportar o uso de um endpoint /token, o identificador único de consentimento só será reportado nos casos em que "grant_type" é do tipo "authorization_code" ou do tipo "refresh_token", uma vez que esta informação de enrollmentId é inexistente quando "grant_type" é do tipo "client_credentials".
              type: string
            authenticatorAttachment:
              description: Deve ser preenchido com a mesma string definida em ".data.authenticatorAttachment".  Não havendo string, deve ser explicitamente enviada esse additionalInfo como sendo uma string vazia.
              type: string
            platform:
              description: Deve ser preenchido com a mesma string definida em ".data.platform"
              type: string
            rp:
              description: Deve ser preenchido com a mesma string definida em ".data.rp"
              type: string
            rejectionReasonCode:
              description: Deve ser preenchido com a mesma string obtida no ".data.rejectionReason.code"
              type: string
            rejectionReasonDetail:
              description: Deve ser preenchido com a mesma string obtida no ".data.rejectionReason.detail"
              type: string
            authorisationFlow:
              description: Deve ser preenchido com a mesma string obtida no ".data.authorisationFlow"
              type: string
            paymentType:
              description: |
                Identifica o modo de pagamento acionado no consentimento
                1. Envio obrigatório para a role Client​
                2. Conteudo ENUM do novo campo varia de acordo com o endpoint conforme tabela abaixo

                | Endpoint | Valores possíveis |
                |----------|-------------|
                | <br>POST /open-banking/payments/v4/consents&nbsp;&nbsp;&nbsp;    |  <br>IMMEDIATE<br>SCHEDULED<br>RECURRENT
                |----------|-------------|
                | <br>POST /open-banking/payments/v4/pix/payments&nbsp;&nbsp;&nbsp;    |  <br>IMMEDIATE<br>SCHEDULED<br>RECURRENT
                |----------|-------------|
                | <br>PATCH /open-banking/payments/v4/pix/payments/{paymentId}​&nbsp;&nbsp;&nbsp;    |  <br>IMMEDIATE<br>SCHEDULED<br>RECURRENT
                |----------|-------------|
                | <br>POST /automatic-payments/v1/recurring-consents&nbsp;&nbsp;&nbsp;    |  <br>SWEEPING
                |----------|-------------|
                | <br>PATCH /automatic-payments/v1/recurring-consents/{consentId}&nbsp;&nbsp;&nbsp;    |  <br>SWEEPING
                |----------|-------------|
                | <br>POST /automatic-payments/v1/pix/recurring-payments&nbsp;&nbsp;&nbsp;    |  <br>SWEEPING
                |----------|-------------|
                | <br>PATCH /automatic-payments/v1/pix/recurring-payments/{paymentId}&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING
                | <br>POST /open-banking/automatic-payments/v2/recurring-consents&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>POST /open-banking/automatic-payments/v2/recurring-consents/{recurringConsentId}&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>POST /open-banking/automatic-payments/v2/pix/recurring-payments&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>POST /open-banking/automatic-payments/v2/pix/recurring-payments/{recurringPaymentId}&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>GET /open-banking/automatic-payments/v2/recurring-consents&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>GET /open-banking/automatic-payments/v2/recurring-consents/{recurringConsentId}&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>GET /open-banking/automatic-payments/v2/pix/recurring-payments&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>GET /open-banking/automatic-payments/v2/pix/recurring-payments/{recurringPaymentId}&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>PATCH /open-banking/automatic-payments/v2/recurring-consents&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>PATCH /open-banking/automatic-payments/v2/recurring-consents/{recurringConsentId}&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>PATCH /open-banking/automatic-payments/v2/pix/recurring-payments&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
                |----------|-------------|
                | <br>PATCH /open-banking/automatic-payments/v2/pix/recurring-payments/{recurringPaymentId}&nbsp;&nbsp;&nbsp;   |  <br>SWEEPING<br>AUTOMATIC
            
                <br>
                Identifica o modo de pagamento acionado no consentimento.

                Valores possíveis:
                - `IMMEDIATE`: Pix sem configuração de agendamento
                - `SCHEDULED`: Pix com configuração de agendamento
                - `RECURRENT`: Pix com agendamento e recorrência
                - `SWEEPING`: Chamadas de pagamentos inteligentes
                - `AUTOMATIC`: Pagamentos automáticos
              type: string
              enum:
                - IMMEDIATE
                - SCHEDULED
                - RECURRENT​
                - SWEEPING
              x-enum-descriptions:
                - Pix sem configuração de agendamento​
                - Pix com configuração de agendamento​
                - Pix sem configuração de agendamento e configuração de recorrência​
                - para todas as chamadas de pagamentos inteligentes​
            dropReason:
              description: |
                1. O campo dropReason deve ser adicionado nas informações do campo additionalInfo que deverá ser enviado no reporte do provedor do serviço consumido (papel SERVER)
                2. O campo deve ser preenchido como “NO_CREDENTIAL" caso o CPF/CNPJ não seja cliente ou “NONE” caso contrário.
                3. Neste contexto define-se como cliente o CPF/CNPJ que possui credencial autenticadora para prosseguir no fluxo monitorado.
                4. O reporte deverá ser feito por todos os transmissores de dados e detentoras de conta.
                5. Para o caso em que o operador não possui poder, após autenticação dele e desambiguação de quem está operando, o reporte deve ser realizado com "NO_CREDENTIAL".
                
                Diretrizes:
                - `NONE`: quando o CPF (loggedUser) / CNPJ (businessEntity) possui credencial autenticadora e poderes suficientes para prosseguir o fluxo monitorado - exemplo: PF, cliente, que possui credencial ativa, mas não se autenticou; cliente que se autenticou utilizando a credencial correta.
                - `NO_CREDENTIAL`: quando o CPF (loggedUser) / CNPJ (businessEntity) não for cliente ou não possuir credencial válida/ativa para prosseguir no fluxo monitorado.
                - `NO_AUTHORITY`: quando o CPF (loggedUser) / CNPJ (businessEntity) consegue se autenticar, mas não dispõe de poderes ou alçadas para prosseguir no fluxo de compartilhamento de dados e serviços.
                - `NO_AUTHORITY_PERSON_MISMATCH`: quando o CPF (loggedUser) não possui relação com a credencial utilizada na etapa de autenticação do Hybrid Flow - exemplo: consentimento criado para um CPF e autenticado por outro; criado para um CNPJ e autenticado por CPF sem relação com o CNPJ.

                Regras:
                  - O reporte deverá ser feito por todos os transmissores de dados e detentoras de conta.

                    Para os casos em que ocorram falhas técnicas que impossibilitem a verificação do CPF/CNPJ (incluindo, mas não se limitando, a erros HTTP 4xx, 500 ou timeout na resposta), o reporte deve ser realizado com o valor NO_CREDENTIAL,

                  Em jornadas de múltipla alçada de pessoas jurídicas, quando a autenticação é bem-sucedida mas os poderes constituídos são insuficientes para finalização do Hybrid Flow, deve-se usar NO_AUTHORITY.

                Escopo:
                  - Verificar regras de preenchimento do campo dropReason de acordo com as definições das PAR-128
                  - Atualizar a documentação do swagger nos produtos e endpoints onde o campo dropReason é obrigatório
                  - Realizar a ingestão na PCM das informações enviadas no campo dropReason
              type: string
            RevocationReasonCode:
              description: |
                Código indicador do motivo da revogação
                1. Envio obrigatório para a role Client

                | Endpoint  | Descrição Jornada | Obrigatoriedade Client  | Obrigatoriedade Server  |
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | POST /automatic-payments/v1/recurring-consents                  | Criar consentimento para iniciação de pagamento​                                                                              | -                                    | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | GET /automatic-payments/v1/recurring-consents/{consentId}​       | Consultar consentimento para iniciação de pagamento​​                                                                          | Se revogation: {RevocationReasonCode, RevocationReasonDetail, RevokedBy, RevokedFrom}​ <br> Se rejected: {RejectedBy, RejectedFrom}​        | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | PATCH /automatic-payments/v1/recurring-consents/{consentId}​     | Rejeita, revoga ou edita um consentimento​          ​                                                                          | Se revogation: {RevocationReasonCode, RevocationReasonDetail, RevokedBy, RevokedFrom}​ <br> Se rejected: {RejectedBy, RejectedFrom}​        | -
                | --------- | ----------------- | ----------------------- | ----------------------- |        
                | POST /automatic-payments/v1/pix/recurring-payments​​              | Pix - Criar iniciação de pagamento limitada por parametrização de tempo ou limite total realizada no consentimento​​           | -                                  
                | --------- | ----------------- | ----------------------- | ----------------------- |        
                | GET /automatic-payments/v1/pix/recurring-payments?consentId=​    | Pix – Consulta informações de transações de pagamentos associadas a um consentimento​                                         | -                                
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | GET /automatic-payments/v1/pix/recurring-payments/{paymentId}​   | Pix - Consultar iniciação de pagamento​                                                                                       | -                                    | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | PATCH /automatic-payments/v1/pix/recurring-payments/{paymentId}​ | Pix - Cancelar iniciação de pagamento​​                                                                                        | Será necessário o reporte porém temos que aguardar a <br> definição do nome do campo pelo GT Especificações Serviços​                      | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | POST /open-banking/automatic-payments/v2/recurring-consents     | Criar consentimento para iniciação de pagamento​                                                                              | -                                    | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | GET /open-banking/automatic-payments/v2/recurring-consents/{recurringConsentId}​       | Consultar consentimento para iniciação de pagamento​​                                                                          | Se revogation: {RevocationReasonCode, RevocationReasonDetail, RevokedBy, RevokedFrom}​ <br> Se rejected: {RejectedBy, RejectedFrom}​        | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | PATCH /open-banking/automatic-payments/v2/recurring-consents/{recurringConsentId}​     | Rejeita, revoga ou edita um consentimento​          ​                                                                          | Se revogation: {RevocationReasonCode, RevocationReasonDetail, RevokedBy, RevokedFrom}​ <br> Se rejected: {RejectedBy, RejectedFrom}​        | -
                | --------- | ----------------- | ----------------------- | ----------------------- |        
                | POST /open-banking/automatic-payments/v2/pix/recurring-payments​​              | Pix - Criar iniciação de pagamento limitada por parametrização de tempo ou limite total realizada no consentimento​​           | -                                  
                | --------- | ----------------- | ----------------------- | ----------------------- |        
                | GET /open-banking/automatic-payments/v2/pix/recurring-payments/{recurringPaymentId}​   | Pix - Consultar iniciação de pagamento​                                                                                       | -                                    | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | PATCH /open-banking/automatic-payments/v2/pix/recurring-payments/{recurringPaymentId}​ | Pix - Cancelar iniciação de pagamento​​                                                                                        | Será necessário o reporte porém temos que aguardar a <br> definição do nome do campo pelo GT Especificações Serviços​                      | -
            
                <br>
              type: string
            RevocationReasonDetail:
              description: |
                Detalhe sobre o motivo de revogação indicado no campo
                1. Envio obrigatório para a role Server e Client

                | Endpoint  | Descrição Jornada | Obrigatoriedade Client  | Obrigatoriedade Server  |
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | POST /automatic-payments/v1/recurring-consents                  | Criar consentimento para iniciação de pagamento​                                                                              | -                                    | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | GET /automatic-payments/v1/recurring-consents/{consentId}​       | Consultar consentimento para iniciação de pagamento​​                                                                          | Se revogation: {RevocationReasonCode, RevocationReasonDetail, RevokedBy, RevokedFrom}​ <br> Se rejected: {RejectedBy, RejectedFrom}​        | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | PATCH /automatic-payments/v1/recurring-consents/{consentId}​     | Rejeita, revoga ou edita um consentimento​          ​                                                                          | Se revogation: {RevocationReasonCode, RevocationReasonDetail, RevokedBy, RevokedFrom}​ <br> Se rejected: {RejectedBy, RejectedFrom}​        | -
                | --------- | ----------------- | ----------------------- | ----------------------- |        
                | POST /automatic-payments/v1/pix/recurring-payments​​              | Pix - Criar iniciação de pagamento limitada por parametrização de tempo ou limite total realizada no consentimento​​           | -                                  
                | --------- | ----------------- | ----------------------- | ----------------------- |        
                | GET /automatic-payments/v1/pix/recurring-payments?consentId=​    | Pix – Consulta informações de transações de pagamentos associadas a um consentimento​                                         | -                                
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | GET /automatic-payments/v1/pix/recurring-payments/{paymentId}​   | Pix - Consultar iniciação de pagamento​                                                                                       | -                                    | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | PATCH /automatic-payments/v1/pix/recurring-payments/{paymentId}​ | Pix - Cancelar iniciação de pagamento​​                                                                                        | Será necessário o reporte porém temos que aguardar a <br> definição do nome do campo pelo GT Especificações Serviços​                      | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | POST /open-banking/automatic-payments/v2/recurring-consents     | Criar consentimento para iniciação de pagamento​                                                                              | -                                    | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | GET /open-banking/automatic-payments/v2/recurring-consents/{recurringConsentId}​       | Consultar consentimento para iniciação de pagamento​​                                                                          | Se revogation: {RevocationReasonCode, RevocationReasonDetail, RevokedBy, RevokedFrom}​ <br> Se rejected: {RejectedBy, RejectedFrom}​        | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | PATCH /open-banking/automatic-payments/v2/recurring-consents/{recurringConsentId}​     | Rejeita, revoga ou edita um consentimento​          ​                                                                          | Se revogation: {RevocationReasonCode, RevocationReasonDetail, RevokedBy, RevokedFrom}​ <br> Se rejected: {RejectedBy, RejectedFrom}​        | -
                | --------- | ----------------- | ----------------------- | ----------------------- |        
                | POST /open-banking/automatic-payments/v2/pix/recurring-payments​​              | Pix - Criar iniciação de pagamento limitada por parametrização de tempo ou limite total realizada no consentimento​​           | -                                  
                | --------- | ----------------- | ----------------------- | ----------------------- |        
                | GET /open-banking/automatic-payments/v2/pix/recurring-payments/{recurringPaymentId}​   | Pix - Consultar iniciação de pagamento​                                                                                       | -                                    | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | PATCH /open-banking/automatic-payments/v2/pix/recurring-payments/{recurringPaymentId}​ | Pix - Cancelar iniciação de pagamento​​                                                                                        | Será necessário o reporte porém temos que aguardar a <br> definição do nome do campo pelo GT Especificações Serviços​                      | -
            
                <br>
              type: string
            RevokedBy:
              description: |
                Quem iniciou a solicitação de revogação 
                1. Envio obrigatório para a role Server e Client

                | Endpoint  | Descrição Jornada | Obrigatoriedade Client  | Obrigatoriedade Server  |
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | POST /automatic-payments/v1/recurring-consents                  | Criar consentimento para iniciação de pagamento​                                                                              | -                                    | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | GET /automatic-payments/v1/recurring-consents/{consentId}​       | Consultar consentimento para iniciação de pagamento​​                                                                          | Se revogation: {RevocationReasonCode, RevocationReasonDetail, RevokedBy, RevokedFrom}​ <br> Se rejected: {RejectedBy, RejectedFrom}​        | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | PATCH /automatic-payments/v1/recurring-consents/{consentId}​     | Rejeita, revoga ou edita um consentimento​          ​                                                                          | Se revogation: {RevocationReasonCode, RevocationReasonDetail, RevokedBy, RevokedFrom}​ <br> Se rejected: {RejectedBy, RejectedFrom}​        | -
                | --------- | ----------------- | ----------------------- | ----------------------- |        
                | POST /automatic-payments/v1/pix/recurring-payments​​              | Pix - Criar iniciação de pagamento limitada por parametrização de tempo ou limite total realizada no consentimento​​           | -                                  
                | --------- | ----------------- | ----------------------- | ----------------------- |        
                | GET /automatic-payments/v1/pix/recurring-payments?consentId=​    | Pix – Consulta informações de transações de pagamentos associadas a um consentimento​                                         | -                                
                | --------- | ----------------- | ----------------------- | ----------------------- |
                | GET /automatic-payments/v1/pix/recurring-payments/{paymentId}​   | Pix - Consultar iniciação de pagamento​                                                                                       | -                                    | -
                | --------- | ----------------- | ----------------------- | ----------------------- |
[...]
